# --------------------------------------------------
# PostgreSQL / PostGIS
# --------------------------------------------------

POSTGRES_DB=urbanflow
POSTGRES_USER=urbanflow_user
POSTGRES_PASSWORD=change_this_password
POSTGRES_PORT=5432


# --------------------------------------------------
# FastAPI database connection
# --------------------------------------------------

DB_HOST=localhost
DB_PORT=5432
DB_NAME=urbanflow
DB_USER=urbanflow_user
DB_PASSWORD=change_this_password


# --------------------------------------------------
# pgAdmin
# --------------------------------------------------

PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=change_this_password
PGADMIN_PORT=5050